# Data Profilling

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv("../data/cleaned_data.csv",header=0)

df.head()

,customer_id,gender,is_urban,is_married,has_chidren,period,housing_service,get_multi_bonus,web_stability_problem,online_guide_service,...,sales_support,pay_after_try,installment_pay,member_type,is_vip,pay_method,avg_month_consumption,total_consumption,is_warning_loss,supplier
0,7590-VHVEG,Female,0,Yes,No,1,No,other,No,Yes,...,No,No,No,Month,Yes,PayPal,29.85,29.85,No,Starlink
1,5575-GNVDE,Male,0,No,No,34,Yes,No,Yes,No,...,No,No,No,One year,No,Venmo,56.95,1889.5,No,T-Mobile
2,3668-QPYBK,Male,0,No,No,2,Yes,No,Yes,Yes,...,No,No,No,Month,Yes,Venmo,53.85,108.15,Yes,HughesNet
3,7795-CFOCW,Male,0,No,No,45,No,other,Yes,No,...,Yes,No,No,One year,No,Visa,42.30,1840.75,No,T-Mobile
4,9237-HQITU,Female,0,No,No,2,Yes,No,No,No,...,No,No,No,Month,Yes,PayPal,70.70,151.65,Yes,AT&T

In [3]:
df.shape

(4589, 21)

In [4]:
df.info

<bound method DataFrame.info of      customer_id  gender  is_urban is_married has_chidren  period  \
0     7590-VHVEG  Female         0        Yes          No       1
1     5575-GNVDE    Male         0         No          No      34
2     3668-QPYBK    Male         0         No          No       2
3     7795-CFOCW    Male         0         No          No      45
4     9237-HQITU  Female         0         No          No       2
...          ...     ...       ...        ...         ...     ...
4584  8746-OQQRW    Male         0         No          No       4
4585  3181-MIZBN    Male         0        Yes         Yes      16
4586  0471-ARVMX  Female         1        Yes          No      62
4587  7766-CLTIC  Female         0         No          No      10
4588  5650-YLIBA    Male         0         No          No      31

     housing_service get_multi_bonus web_stability_problem  \
0                 No           other                    No
1                Yes              No                   Yes
2                Yes              No                   Yes
3                 No           other                   Yes
4                Yes              No                    No
...              ...             ...                   ...
4584             Yes             Yes                 other
4585             Yes              No                 other
4586             Yes             Yes                   Yes
4587             Yes              No                    No
4588             Yes             Yes                    No

     online_guide_service  ... sales_support pay_after_try installment_pay  \
0                     Yes  ...            No            No              No
1                      No  ...            No            No              No
2                     Yes  ...            No            No              No
3                      No  ...           Yes            No              No
4                      No  ...            No            No              No
...                   ...  ...           ...           ...             ...
4584                other  ...         other         other           other
4585                other  ...         other         other           other
4586                   No  ...            No           Yes             Yes
4587                   No  ...           Yes            No             Yes
4588                  Yes  ...            No            No              No

     member_type is_vip pay_method avg_month_consumption  total_consumption  \
0          Month    Yes     PayPal                 29.85              29.85
1       One year     No      Venmo                 56.95             1889.5
2          Month    Yes      Venmo                 53.85             108.15
3       One year     No       Visa                 42.30            1840.75
4          Month    Yes     PayPal                 70.70             151.65
...          ...    ...        ...                   ...                ...
4584       Month     No      Venmo                 25.25              101.9
4585       Month     No     PayPal                 19.75              313.4
4586    One year    Yes     PayPal                104.85             6312.9
4587       Month    Yes      Venmo                 60.95             629.55
4588       Month    Yes     PayPal                 81.15            2640.55

     is_warning_loss   supplier
0                 No   Starlink
1                 No   T-Mobile
2                Yes  HughesNet
3                 No   T-Mobile
4                Yes       AT&T
...              ...        ...
4584              No  HughesNet
4585              No   T-Mobile
4586              No   T-Mobile
4587              No   Starlink
4588              No  HughesNet

[4589 rows x 21 columns]>

In [5]:
df.columns

Index(['customer_id', 'gender', 'is_urban', 'is_married', 'has_chidren',
       'period', 'housing_service', 'get_multi_bonus', 'web_stability_problem',
       'online_guide_service', 'is_member', 'sales_support', 'pay_after_try',
       'installment_pay', 'member_type', 'is_vip', 'pay_method',
       'avg_month_consumption', 'total_consumption', 'is_warning_loss',
       'supplier'],
      dtype='object')

In [6]:
def get_unique_values(df):
    categories = {}
    for column in df.columns:
        unique_value = df[column].unique()
        categories[column] = unique_value
    return categories

In [7]:
get_unique_values(df)

{'customer_id': array(['7590-VHVEG', '5575-GNVDE', '3668-QPYBK', ..., '0471-ARVMX',
        '7766-CLTIC', '5650-YLIBA'], shape=(4580,), dtype=object),
 'gender': array(['Female', 'Male'], dtype=object),
 'is_urban': array([0, 1]),
 'is_married': array(['Yes', 'No'], dtype=object),
 'has_chidren': array(['No', 'Yes'], dtype=object),
 'period': array([ 1, 34,  2, 45,  8, 22, 10, 28, 62, 13, 16, 58, 49, 25, 69, 52, 71,
        21, 12, 30, 47, 72, 17, 27,  5, 46, 11, 70, 63, 43, 15, 60, 18, 66,
         9,  3, 31, 50, 64, 56,  7, 42, 35, 48, 29, 65, 38, 68, 32, 55, 37,
        36, 41,  6,  4, 33, 67, 23, 57, 61, 14, 20, 53, 40, 59, 24, 44, 19,
        54, 51, 26,  0, 39]),
 'housing_service': array(['No', 'Yes'], dtype=object),
 'get_multi_bonus': array(['other', 'No', 'Yes'], dtype=object),
 'web_stability_problem': array(['No', 'Yes', 'other'], dtype=object),
 'online_guide_service': array(['Yes', 'No', 'other'], dtype=object),
 'is_member': array(['No', 'Yes', 'other'], dtype=object),
 'sales_support': array(['No', 'Yes', 'other'], dtype=object),
 'pay_after_try': array(['No', 'Yes', 'other'], dtype=object),
 'installment_pay': array(['No', 'Yes', 'other'], dtype=object),
 'member_type': array(['Month', 'One year', 'Two year'], dtype=object),
 'is_vip': array(['Yes', 'No'], dtype=object),
 'pay_method': array(['PayPal', 'Venmo', 'Visa', 'Mastercard'], dtype=object),
 'avg_month_consumption': array([ 29.85,  56.95,  53.85, ...,  67.75,  55.75, 114.6 ], shape=(1389,)),
 'total_consumption': array(['29.85', '1889.5', '108.15', ..., '313.4', '6312.9', '629.55'],
       shape=(4332,), dtype=object),
 'is_warning_loss': array(['No', 'Yes'], dtype=object),
 'supplier': array(['Starlink', 'T-Mobile', 'HughesNet', 'AT&T', 'Verizon', 'Xfinity'],
       dtype=object)}

In [8]:
# Feature categorization: categorical features, continuous features, and target label (y)
# Categorical features
cat_cols = ['customer_id', 'gender', 'is_urban', 'is_married', 'has_chidren', 
                'housing_service', 'get_multi_bonus', 'supplier', 'web_stability_problem', 'online_guide_service', 
                'is_member', 'sales_support', 'pay_after_try', 'installment_pay', 'member_type', 'is_vip',
                'pay_method']

# Continuous features
num_cols = ['period','avg_month_consumption', 'total_consumption']

# Target label (y)
target = 'is_warning_loss'